.wrapper {
    background: #fff;
    margin: 24px 16px;
    padding: 24px;
    min-height: 100vh !important;
}

.slider-menu {
    overflow: auto;
    height: 100%;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
}