.form-edit {
    border: 1px solid rgb(205, 205, 205);
}

.input-create {
    width: 400px;
}

.ant-form-item-label > label {
    height: auto;
}

.btn-back {
    margin-left: 40%;
}

.btn-submit {
    margin-left: 20px;
}
