body {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.ant-layout-sider-children .title-logo {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.tilte-sub {
    font-weight: bold;
}

.site-layout .site-layout-background {
    background: #fff;
}

.site-statistic-demo-card {
    padding: 30px;
    background: #ececec;
}
